@import url('https://fonts.googleapis.com/css?family=Lato');

html, body {
  margin: 0px;
  height: 100%;
  font-family: 'Lato', sans-serif;
}

.container {
  background: #eee;
  background: -webkit-linear-gradient(210deg, rgba(150, 50, 50, 0.3), rgba(0, 0, 200, 0));
  background: linear-gradient(240deg, rgba(150, 50, 50, 0.3), rgba(0, 0, 200, 0));
  height: 100%;
}

div.forecast {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.forecast-list {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 700px;
}

div.error {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

div.loading {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  animation: scale 2s infinite;
  -webkit-animation: scale 2s infinite;
}

@keyframes scale {
    0% {
        -webkit-transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.5);
    }

    100% {
      -webkit-transform: scale(1);
    }
}

@-webkit-keyframes scale {
    0% {
        -webkit-transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.5);
    }

    100% {
      -webkit-transform: scale(1);
    }
}

div.forecast-list:hover div.forecast-list-item {
  opacity: 0.75;
}

div.forecast-list div.forecast-list-item:hover {
  opacity: 1.0;
}

div.forecast-list-item {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 250px;
  height: 400px;
  margin: 0em 1.25em;
  border-radius: 0.28571429rem;
  box-shadow: 9px 7px 40px -6px rgba(0, 0, 0, 0.25);
  background-color: white;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  transition: transform 0.35s ease-in;
  cursor: pointer;
}

div.forecast-list-item:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: transform 0.35s ease-in;
}

.header, .footer {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex;
  display: flex;
  flex: 1;
  padding: 0.5em 0.5em 0 0.5em;
}

.header {
  text-align: center;
  padding-top: 0.8em;
}

.footer {
  text-align: center;
}

.footer div {
  width: 100%;
  margin-bottom: 0;
  padding-top: 1.5em;
  color: #5b5b5b;
}

.header .header-wind, .header .header-time {
  flex: 1;
  color: #8c8c8c;
}

.header-wind {
  text-align: left;
}

.header-time {
  text-align: right;
}

.header .header-time {
  font-size: 0.98em;
}

.content {
  flex: 3;
  text-align: center;
}

.content .content-max-temp {
  font-size: 3em;
}

.content .content-min-temp {
  font-size: 1.5em;
  color: #8c8c8c;
}

.content h3{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 0.3em 0 0.3em;
  font-size: 1.28571429em;
  text-align: center;
}

.icon-time {
  width: 20px;
  height: 20px;
}

.icon-img {
  width: 15px;
  height: 15px;
  opacity: 0.5;
}

.icon-img.wind-img{
  margin-right: 5px;
}

.icon-img.clock-img, .icon-img.location-img {
  margin-right: 5px;
}


/*Response styling*/
@media screen and (max-width: 480px) {
  body {
    background: none;
  }

  div.container {
    height: auto;
  }

  div.branding-heading, div.branding-footer{
    padding: 1em;
  }

  div.forecast-list {
    flex-direction: column;
  }

  div.forecast-list-item {
    margin: 1em 1.25em;
    height: 350px;
    width: 250px;
    opacity: 1.0;
    transition: none !important;
    transform: none !important;
  }

  div.forecast-list:hover div.forecast-list-item {
    opacity: 1.0
  }

  div.forecast-list div.forecast-list-item:hover {
    opacity: 1.0;
  }
}
